.row{
    padding-left:100px;
    padding-right: 100px; 
  }
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
    
  }
  @media screen and (max-width:1020px) {
  .column{
    width: auto;
  }
  .row{
    padding-left:100px;
    padding-right: 10px;
  }
  .store-headers{
    width: auto;
  }
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .store-headers{
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 40px;
  }