<div class="container">
<h1 align="center" class="display-4 ">Coupons</h1>
    <div>
    <h4> Add Coupon</h4>
    <input [(ngModel)]="coupon" type="text" class="form-control form-control-lg" id="coupon" name="coupon" placeholder="Enter coupon code"><br>  
    <h4> Select a User to issue coupon ot him</h4>
    <div *ngFor='let user of users'>
        <input type="checkbox" name="{{user.email}}" [value]="user.email" (change)="getEmail($event,user.email)" >{{ user.email}}
    </div><br>
    <button (click)=addCoupon(coupon) align="right" class="btn btn-info btn-lg">Add Coupon</button>
    </div>
<table id="table" class="table  text-center" style="width:100%;">
    <thead>
    <tr>
        <th scope="col">Couponcode</th>
        <th scope="col">User</th>
        <th scope="col">Action</th>
        
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let coupon of page?.content">
        
        <td class="align-middle">{{coupon.coupon}}</td>
        <td class="align-middle">{{coupon.email}}</td>
        <td class="align-middle">
            <button (click)=deleteCoupon(coupon.id)  class="btn btn-success">Delete</button>
        </td>

    </tbody>
</table>
</div>
<!-- <app-pagination [currentPage]="page"></app-pagination> -->
