.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
  }
  .row{
    margin-left:150px;
    margin-right: 100px; 
  }
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
    
  }
  .product{
    padding-bottom: 15px;
  }
  .edit{
    margin-right: 4cm;
  }